---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<p>
Autumn 2020: Supervisor of SW7 Project (Topic: COVID-19 Safe-Distance Route Calculation System), Aalborg University. (6 students) <br />

Autumn 2020: Supervisor of SW7 Project (Topic: Wine Offer Recommender System for Traders), Aalborg University. (5 students) <br />

Autumn 2020: Teaching Assistant for Course "Database Development", Aalborg University. (50+ students) <br />

Spring 2020: Supervisor of BaIT4 Project (Topic: Todozo - A Task Management System), Aalborg University. (5 students) <br />

Spring 2020: Teaching Assistant for Course "Database Development", Aalborg University. (90+ students) <br />

Autumn 2019: Supervisor of SW3 Project (Topic: Butlr: Modelling and Developing a Digital Catering System for Dania Academy, using Object-Oriented Analysis \& Design), Aalborg University. (7 students) <br />

Autumn 2019: Supervisor of SW3 Project (Topic: An Inventory Management System for a Comic Book Store), Aalborg University. (7 students) <br />

Autumn 2019: Supervisor of SW3 Project (Topic: Matching Persons with Start-ups and Back Again), Aalborg University. (7 students) <br />

Spring 2019: Co-supervisor of SW6 Project (Topic: GIRAF), Aalborg University. (8 students) <br />

Spring 2019: Teaching Assistant for Course "Database Development", Aalborg University. (100+ students) <br />
</p>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
